#three{
  text-align: center;
  color:#f75802;
  font-size: x-large;
 
  background-color: #000000;
  position: absolute;
  
  left: 10%;
  right: 10%;
  top: 85%;
  
}

  
  

body{
  background-color: black;
}

@media (min-width:300px) and (max-width:500px) {
  #three{
  
  top: 67%;
  }
  .img-circle {
    margin-left: 7% !important;
    margin-top: 20% !important;
    height: 300px !important;
    width: 280px !important;
    margin-right: 3% !important;
}
p{
  font-size: large;
}

}
@media (min-width:362px) and (max-width:500px){
 
 
.img-circle{
  margin-left: 11% !important;
}
p{
  font-size: large;
}
#three{
  top: 60%;
}

}
@media (min-width:700px) and (max-width:900px)
{
  .img-circle {
    margin-left: 23% !important;
    height: 400px;
    width: 400px;
    margin-top: 10%;
}
  #three{
    left: 10%;
    right: 10%;
    top: 50%;
  }
  p{
    font-size: xx-large;
  }
 
}
@media (min-width:800px) and (max-width:1100px){
  .img-circle{
    margin-left: 28%;
    height: 450px;
    width: 450px;
    margin-top: 10%;
  }
  #three{
    font-size: xx-large;
    left: 10%;
    right: 10%;
    top: 48%;
  }
  p{
    font-size: xx-large;
  }
}
@media(min-width:1200px){
 .img-circle{
   margin-left:34%;
  margin-top: 10%;
  height: 370px;
  width: 370px;
 }
 p{
   font-size: xx-large;
 }


} 
@media (min-width:250px) and (max-width:300px){
  #three{
    left: 0px;
    right: 0px;
    top: 55%;
  }
  .img-circle{
    height: 280px;
    width: 250px;
  }
  .container-fluid{
    margin-top: 11%;
  }
 

}
@media (min-width:590px) and (max-width:620px){
  .img-circle {
    margin-left: 17% !important;
    margin-top: 20% !important;
    height: 400px !important;
    width: 380px !important;
    
}
#three{
  font-size: xx-large;
 
  top: 58%;
}
}
@media (min-width:400px) and (max-width:500px){
  #three{
    top: 56%;
  }
  p{
    font-size: x-large;
  }
}
@media (max-width:322px){
  #three{
    top: 76%;
  }
  .img-circle{
   margin-left: 10% !important;
   height: 230px !important;
   width: 230px !important;
  }
 
}
@media (max-width:660px) and (min-width:610px){
  .img-circle{
    height: 200px;
    width: 200px;
    margin-top: 5%;
    margin-left: 30%;
  }
}