#three{
  text-align: center;
  color:#f75802;
  font-size: x-large;
 
  background-color: #000000;
  position: absolute;
  
  left: 20%;
  right: 20%;
  
}

  
  

body{
  background-color: black;
}

@media (min-width:300px) and (max-width:500px) {
  #three{
  left: 0px !important;
  right: 0px !important;
  top: 67%;
  }
  .img-circle {
    margin-left: 3% !important;
    margin-top: 20% !important;
    height: 300px !important;
    width: 280px !important;
    margin-right: 3% !important;
}
}
@media (min-width:362px) and (max-width:500px){
 
 #three{
    top:57% !important;
   
}
.img-circle{
  margin-left: 12% !important;
}

}