#three{
  text-align: center;
  color:#f75802;
  font-size: x-large;
 
  background-color: #000000;
  position: absolute;
  
  left: 20%;
  right: 20%;
  
}

  
  

body{
  background-color: black;
}

@media (min-width:300px) and (max-width:500px) {
  #three{
  left: 0px !important;
  right: 0px !important;
  top: 67%;
  }
  .img-circle {
    margin-left: 4% !important;
    margin-top: 20% !important;
    height: 300px !important;
    width: 280px !important;
    margin-right: 3% !important;
}
}
@media (min-width:362px) and (max-width:500px){
 
 
.img-circle{
  margin-left: 12% !important;
}

}
@media (min-width:700px) and (max-width:900px)
{
  .img-circle {
    margin-left: 28% !important;
    height: 400px;
    width: 400px;
    margin-top: 10%;
}
  #three{
    left: 10%;
    right: 10%;
    top: 50%;
  }
  p{
    font-size: xx-large;
  }
 
}
@media (min-width:800px) and (max-width:1200px){
  .img-circle{
    margin-left: 31%;
    height: 500px;
    width: 500px;
    margin-top: 10%;
  }
  #three{
    font-size: xx-large;
    left: 10%;
    right: 10%;
    top: 45%;
  }
  p{
    font-size: xxx-large;
  }
}
@media(min-width:1200px){
 .img-circle{
   margin-left:600px;
  margin-top: 10%;
  height: 300px;
  width: 280px;
 }

}
@media (min-width:250px) and (max-width:300px){
  #three{
    left: 0px;
    right: 0px;
    top: 55%;
  }
  .img-circle{
    height: 300px;
    width: 250px;
  }
  .container-fluid{
    margin-top: 11%;
  }
 

}