*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #262626;
}

ul li{
    position: relative;
    display:block;
    color: #666;
    font-size: 80px;
    width: 60px;
    height: 60px;
    background: #171515;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    margin: 30px;
    cursor: pointer;

}
ul li::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: hsl(129, 98%, 49%);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);
    transition: 0.5s;
}
ul li:hover:before{
    filter: blur(3px);
    transform: scale(1.2);
    box-shadow: 0 0 15px hsl(129, 98%, 49%) ;
}
ul li:hover{
    color:hsl(129, 98%, 49%) ;
    box-shadow: 0 0 15px hsl(129, 98%, 49%);
    text-shadow: 0 0 15px hsl(129, 98%, 49%);
}
ul li a:hover{
    color: hsl(129, 98%, 49%);
}
ul li a 
{
  color: #666;
}
#two li {
    display: inline;
    padding: 30px;
}
@media (max-width:500px){
    #two li {
        display: block;
        padding: 30px !important;
           
        padding-right: 200px !important;
        padding-bottom: 40px !important;
    }
    ul li{
        border-radius: 0px !important;
        font-size: 30px !important;
        line-height: 40px !important;
    }
    #three h3{
        position: fixed !important;
        right: 80px !important;
        top: 252px !important;
        display: block;
    }
    #four h3{
        position: fixed !important;
        right: 70px !important;
        top: 330px !important;
        display: block;
    }
    #five h3{
        position: fixed !important;
        right: 90px !important;
        top: 490px !important;
        display: block;
    }
}
@media (min-width:400px) and (max-width:500px)
{
    #four h3{
        top:410px !important
    }
    #five h3{
        top: 572px !important;
    }
}