#one{
    position: absolute;
    top: 15%;
    left: 10%;
    border: 10px solid gray;
    padding: 15px;
    border-image: url(border.png) 30 round;   
}
#two{
    position: absolute;
    top: 15%;
    left: 60%;
    border: 10px solid gray;
    padding: 15px;
    border-image: url(border.png) 30 round;  
}
body{
    background-color: black;
}
#three{
    background-color: gray;
    text-align: center;
}
@media (min-width:300px) and (max-width:500px){
    #two {
        position: absolute !important;
        top: 70% ;
        left: 5% !important;
        right: 5% !important;
    }
    img{
        height: 176px ;
        width: 100% ;
    }
    #one{
        top: 15% !important;
        left: 5% !important;
        right: 5% !important;
    }
}
@media (min-width:400px) and (max-width:500px){
    img{
        height: 226px ;
        width: 100%;
    }
    #two{
        top: 70%;
    }
}