#one{
    position: absolute;
    top: 15%;
    left: 10%;
    border: 10px solid gray;
    padding: 15px;
    border-image: url(border.png) 30 round;   
}
#two{
    position: absolute;
    top: 15%;
    left: 60%;
    border: 10px solid gray;
    padding: 15px;
    border-image: url(border.png) 30 round;  
}
body{
    background-color: black;
}
#three{
    background-color: gray;
    text-align: center;
}
@media (min-width:300px) and (max-width:500px){
    #two {
        position: absolute !important;
        top: 75% ;
        left: 5% !important;
        right: 5% !important;
    }
    img{
        height: 176px ;
        width: 100% ;
    }
    #one{
        top: 15% !important;
        left: 5% !important;
        right: 5% !important;
    }
}
@media (min-width:400px) and (max-width:500px){
    img{
        height: 226px ;
        width: 100%;
    }
    #two{
        top: 80%;
    }
}
@media (min-width:700px) and (max-width:1000px){
    #two{
        top: 74%;
        left: 11%;
      }
      #two img{
          width: 600px;
      }
}
@media (min-width:1000px) and (max-width:1200px){
 #two{
     top: 74%;
     left: 11%;
 }
 #two img{
     width: 750px;
 }
 #one img{
     width: 750px;
 }
}
@media (min-width:250px) and (max-width:300px){
    img{
        width: 200px;
        height: 150px;
      }
      #two{
          top: 65%;
          left: 10%;
      }
}
@media (min-width:590px) and (max-width:620px){
    #two{
        top: 74%;
        left: 5%;
      }
      #two img{
          width: 500px;
      }
      #one img{
          width: 500px;
      }
      #one{
          left: 5%;
      }
      
}