
body{
    background-color: black;
}
#menu{
  width: 50px;
  cursor: pointer;
  height: 40px;
  margin-left: 1400px;
  margin-top: 40px;
}

.change{
  display:block;
}
.bar{
  background-color: hsl(129, 98%, 49%);  
  width: 60px;
  height:10px;
  display: block;
  border-radius: 2px;
  transition: 0.3s ease;
  margin-left: 80px;
  cursor: pointer;
  position: fixed;
  padding-top:5px ;
  left: 1300px;
}
.change .bar{
  background-color: black;
}

#bar1 {
  transform: translateY(-20px);
}

  #bar3 {
    transform: translateY(20px);
}

.change #bar1 {
  transform: rotate(50deg);
}
.change #bar3 {
  transform: rotate(-50deg);
}
.change #bar2{
  opacity: 0;
}
.na li{
  list-style: none;
  margin-top: 0px;
  
}
.h1{
  position: fixed;
  text-size-adjust: 30px;
}
.menu-bg {
  background-color: hsl(118, 96%, 49%);
  height: 100vh;
  width: 300px;
  
  display: none;
  position: fixed;
  top: 0;
  left: 1250px;
  z-index: 1;
  transform: translateX;
}
.change-bg{
  display: block;
  
}
.change bar{
  background-color: black;
  
}


.na li a {
  width: 50px;
  padding: 50px;
  text-align: center;
  color: black;
  margin-left: 1100px;
  display: none;
  text-decoration: none;
  text-align: center;
  height: 100vh;
  position: fixed;
}
#pi{
  animation: mymove 5s infinite;
}

.change li a{
  display: block;
 
}
#menubar{
  z-index: 2;
  position: absolute;
}
 #nav-icon1{
top: 0px;
left: 0px;
position:absolute;

}


.neon{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color:white;
    margin: 0;
    padding: 0 20px;
    text-shadow:0 0 20px #0df505;
}
.neon:before
{
    content: attr(The);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    color:#0df505 ;
    padding: 0 20px;
    filter: blur(40px);
  
}
.neon::after
{
content: '';
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
background:#0df505 ;
z-index: -2;
opacity: 0.5;
filter: blur(40px);
padding: 0 20px;
}
#one{
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color:white;
    margin: 0;
    padding: 0 50px;
    text-shadow:0 0 20px #0df505;
}
#two{
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color:white;
    margin: 0;
    padding: 0 50px;
    text-shadow:0 0 20px #0df505;
}
.change li  {
      /* This timing applies on the way OUT */
  transition-timing-function: ease-in;

  /* Quick on the way out */
  transition: 1s;

  /* Hide thing by pushing it outside by default */

}

  
  /* Icon 1 */
 
  
  
  
